# todo lo que termine en ~
*~
# Archivos que no quiero que suba
download.sh
Thesis/Scheletor/Scheletor.blg
Thesis/Scheletor/Scheletor.log
Thesis/Scheletor/Scheletor.pdf
Thesis/Scheletor/Scheletor.bbl
Thesis/Scheletor/Scheletor.lot
Thesis/Scheletor/Scheletor.lof
Thesis/Scheletor/Scheletor.out
Thesis/Scheletor/Scheletor.toc

